<nav class="navbar navbar-light">
    <div class="container">
      <h1 class="text-white">Employee Management</h1>
      <form class="d-flex">
        <button (click)="onAddEmployee()"
        class="btn btn-outline-light" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-bottom: 4px;" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
              <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
              <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"></path>
            </svg> Add Employee
        </button>
      </form>
    </div>
  </nav>
  <div class="container">
    <hr class="text-white">
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Employee Name</th>
          <th scope="col">Position</th>
          <th scope="col">Department</th>
          <th scope="col" colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees;let no = index">
          <th scope="row">{{no + 1}}</th>
          <td>{{emp.name}}</td>
          <td>{{emp.position}}</td>
          <td><span class="badge" [ngClass]="{
            'bg-success' : emp.dept == 'GBS',
            'bg-danger' : emp.dept == 'Development',
            'bg-warning' : emp.dept == 'FS'
          }">{{emp.dept}}</span></td>
          <td><button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Edit</button></td>
          <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="onDeleteEmployee(emp)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form (ngSubmit)="onEmpSubmit()" [formGroup]="empForm" *ngIf="empForm">
        <div class="modal-body">
          
            <div class="mb-3">
              <label for="emp-name" class="col-form-label">Employee Name:</label>
              <input type="text" class="form-control" id="emp-name" formControlName="name">
            </div>
            <div class="mb-3">
              <label for="emp-pos" class="col-form-label">Position:</label>
              <input type="text" class="form-control" id="emp-pos" formControlName="position">
            </div>
            <div class="mb-3">
              <label for="emp-dept" class="col-form-label">Department:</label>
              <input type="text" class="form-control" id="emp-dept" formControlName="dept">
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>